<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>TELLUM, INC. PRIVACY POLICY</title>
</head>

<body>
<p align="justify"><strong>TELLUM, INC. PRIVACY POLICY</strong>
</p>
<!--<p align="justify"><strong>Last updated: July 23, 2014</strong>
</p>-->
<p align="justify"><br>
  <br>
</p>
<p align="justify">Tellum Inc. (“Tellum”, “we” or “us”) recognizes the importance of your personal privacy.  Therefore, we have created this Privacy Policy so that you know how we use and disclose your information when you make it available to us.  The Privacy Policy below discloses our practices regarding information collection and usage solely for the website located at tellumapp.com and the associated mobile application (collectively, the “Service”).

  By using or accessing the Service or participating in our services, you signify your agreement to be bound by our Privacy Policy. IF YOU DO NOT AGREE TO THIS PRIVACY POLICY YOU MAY NOT ACCESS OR OTHERWISE USE OUR SERVICE OR PARTICIPATE IN OUR SERVICES.
  Key aspects of our privacy practices described in this Privacy Policy include the following explanations:
<ul>
  <li>
    <p align="justify"> The information we collect and why we collect it;</p>
  </li>
  <li>
    <p align="justify"> How we use that information;</p>
  </li>
  <li>
    <p align="justify"> How we share information; and</p>
  </li>
  <li>
    <p align="justify">The choices we offer.</p>
  </li>
</ul>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Personally Identifiable Information That We Collect:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">
  When you use the Service, you may provide and we may collect what is generally called “personally identifiable” information, which is information that specifically identifies an individual. Examples of personal information include name, email address, mailing address, mobile phone number, and credit card or other billing information. Personal information also includes other information, such as date of birth, geographic area, or preferences, when any such information is linked to information that identifies a specific individual. You may provide us with personal information in various ways on the Service. For example, you provide us with personal information when you register for an account, use the Service, post User Content, make a purchase on the Service, interact with other users of the Service through communication or messaging features, or send us customer service-related requests.

  You may be required to submit certain personally identifiable information when you register on the Service.

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Non-Personal Or Aggregate Information That We Collect:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">When you access our Service, we may automatically collect non-personally identifiable information from you, including but not limited to IP host address, geographic location, web pages viewed, browser type, operating system, referring service, search information, device type, page views, usage and browsing habits on the Service and similar data. We may also aggregate demographic information collected from our users (such as the number of users in a particular state) in a manner which does not identify any one individual.   We may also aggregate information collected offline in connection with the Service or use of our services, obtain non-personally identifiable information from third party sources and develop aggregate information by anonymizing previously collected personally identifiable information.

  It is possible at times when collecting non-personally identifiable information through automatic means that we may unintentionally collect or receive personally identifiable information that is mixed in with the non-personally identifiable information.  While we will make reasonable efforts to prevent such incidental data collection, the possibility still exists.  If you believe that we have inadvertently collected your personal information, please notify us at privacy@tellumapp.com

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Information Usage:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">We will only use your personally identifiable information as described below, unless you have specifically consented to another type of use, either at the time the personally identifiable information is collected from you or through some other form of consent from you or notification to you:
<ul>
  <li>
    <p align="justify">We may share your personally identifiable information collected in connection with providing the Service.</p>
  </li>
  <li>
    <p align="justify">We may use your personally identifiable information to respond to your inquires or requests.</p>
  </li>
  <li>
    <p align="justify">We may use your personally identifiable information to address intellectual property infringement, right of privacy violations or defamation issues related to your User Content posted on the Service.</p>
  </li>
  <li>
    <p align="justify">We may use your personally identifiable information to send you emails from time to time about our services, including updates on promotions and events, relating to products and services offered by us and by third parties we work with. Generally, you have the ability to opt-out of receiving any promotional communications as described below under “Opt-Out Process.”</p>
  </li>
  <!---->
  <li>
    <p align="justify">We may permit our vendors and subcontractors to access your personally identifiable information, but they are only permitted to do so in connection with performing services for us.  They are not authorized by us to use the information for their own benefit.</p>
  </li>
  <!---->
  <li>
    <p align="justify">We may share your personally identifiable information with third parties to further the purpose for which you provided such information to us; for example, we may share your information with PayPal, as necessary for processing your purchases made online via the Service. <strong>We urge you to read the privacy practices of any third-party services before submitting any information through those services.</strong></p>
  </li>
  <!---->
  <li>
    <p align="justify">We may disclose personally identifiable information as required by law or legal process.</p>
  </li>
  <!---->
  <li>
    <p align="justify">We may disclose personally identifiable information to investigate suspected fraud, harassment or other violations of any law, rule or regulation, or the terms or policies for our services or our sponsors.</p>
  </li>
  <!---->
  <li>
    <p align="justify">We may transfer your personally identifiable information in connection with the sale or merger or change of control of Tellum or the division responsible for the services with which your personally identifiable information is associated.</p>
  </li>
  <!---->
  <li>
    <p align="justify">We may share your personally identifiable information with an affiliate of Tellum who is in the same corporate family as us as long as their privacy practices are substantially similar to ours.</p>
  </li>
  <!---->
</ul>
</br>
We do not currently trade, sell or rent personal information collected about you to third parties.

Non- personally identifiable or aggregate information may be used by us for any purposes permitted by law and may be shared with any number of parties, provided that such information shall not specifically identify you.

</p>
<br>
<p align="justify"><strong>Cookies and Similar Technologies:</strong>
  <br>
</p>
<p align="justify">“Cookies” are pieces of information that may be placed on your computer or other device by a service for the purpose of facilitating and enhancing your communication and interaction with that service. Cookies contain information that is transferred to your computer’s hard drive. These cookies are used to store information, such as the time that the current visit occurred, whether the visitor has been to the Service before and what site or service referred the visitor to the web page. Many services use cookies for these purposes.

  We may use cookies (and similar items such as clear gifs, web beacons, tags, etc.) on our Service to customize your visit and for other purposes to make your visit more convenient or to enable us to enhance our Service.  We may also use and place cookies (and similar items) on your computer from our third party service providers in connection with the Service, such as an analytics provider that helps us manage and analyze Service usage, as described more fully below.  In addition, our advertisers and business partners may set cookies and similar items on your computer when you use our Service.  You may stop or restrict the placement of cookies on your computer or flush them from your browser by adjusting your web browser preferences, in which case you may still use our Service, but it may interfere with some of its functionality. Cookies and similar items are not used by us to automatically retrieve personally identifiable information from your computer without your knowledge.

  If you delete your cookies, change browsers or use a different cookie, our cookie (or an opt-out cookie) may no longer work and you will have to reinput (or opt-out) again.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Analytics:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">We use analytics services that use cookies, javascript and similar technologies to help us analyze how users use the Service. The information generated by these services about your use of the Service (including your IP address or a truncated version of your IP address) is transmitted to and stored by analytics service providers on their servers. Those service providers will use this information for the purpose of evaluating your, and other users’, use of the Service, compiling reports for us on Service activity and providing other services relating to Service activity and Internet usage.

  We may collect information about your computer, including your IP address, operating system and browser type, for system administration and in order to create reports. This is statistical data about our users’ browsing actions and patterns, and does not identify any individual.

  We use Flurry Analytics, a web analytics tool that helps website owners understand how visitors engage with their website.  We use Flurry Analytics to collect, monitor and analyze data in order to increase the Services' functionality and user-friendliness, and to better tailor our Services to our users’ needs. Accordingly, data is shared Flurry Analytics, which has its own Terms of Use and Privacy Policy (accessible at <span style="color:#06F"><%=link_to "http://www.flurry.com/legal-privacy/terms-service","http://www.flurry.com/legal-privacy/terms-service"%></span> and <span style="color:#06F"><%=link_to "http://www.flurry.com/legal-privacy/privacy-policy","http://www.flurry.com/legal-privacy/privacy-policy"%></span>, respectively.) You may opt out of Flurry Analytics tracking and personalized ads/recommendations from Flurry at<span style="color:#06F"> <%=link_to "http://www.flurry.com/legal-privacy/end-user-opt-out","http://www.flurry.com/legal-privacy/end-user-opt-out"%></span>. Please note that the opt-out is specific to Flurry activities and does not affect the activities of other ad networks or analytics providers.

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Security:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">The security of your personally identifiable information is very important to us. When we collect your personally identifiable information online, we use reasonable efforts to protect it from unauthorized access.  However, due to the inherent open nature of the Internet, we cannot guarantee that your personally identifiable information will be completely free from unauthorized access by third parties such as hackers and your use of our Service and Tellum services demonstrates your assumption of this risk.  We have put in place reasonable physical, electronic, and managerial procedures to safeguard the information we collect. For more information on protecting your privacy, please visit<span style="color:#06F"><%=link_to "www.ftc.gov/privacy","www.ftc.gov/privacy"%>. </span></p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Your Disclosures In Blogs And Other Social Media:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">You should be aware that personally identifiable information which you voluntarily include and transmit online in a publicly accessible blog, chat room, social media platform or otherwise online, or that you share in an open forum such as an in-person or online panel or survey, may be viewed and used by others without any restrictions.  We are unable to control such uses of your personally identifiable information, and by using such services you assume the risk that the personally identifiable information provided by you may be viewed and used by third parties for any number of purposes.

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Protection for Children:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Our Service is not directed to children under the age of 13 and we do not knowingly collect personally identifiable information from children under the age of 13 as part of our Service. If we become aware that we have inadvertently received personally identifiable information from a user under the age of 13 as part of the Service, we will delete such information from our records.

  If at any time in the future we plan to collect personally identifiable information from children under 13, such collection and use, to the extent applicable, shall, when required, be done in compliance with the Children’s Online Privacy Protection Act (“COPPA”) and appropriate consent from the child’s parent or guardian will be sought where required by COPPA.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Other Services:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">As a convenience to you, we may provide links to third-party Services from within our Service. We are not responsible for the privacy practices or content of these third-party Services.  When you link away from our Service, you do so at your own risk.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Changes to this Privacy Policy:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">We reserve the right, at our discretion, to change, modify, add, or remove portions from this Privacy Policy at any time.  However, if at any time in the future we plan to use personally identifiable information in a way that materially differs from this Privacy Policy, including sharing such information with more third parties, we will post such changes here and provide you the opportunity to opt-out of such differing uses.  Your continued use of the Service and our services following the posting of any changes to this Privacy Policy means you accept such changes.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Opt-Out Process:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">All unsubscribe or opt-out requests should be sent to us at optout@tellumapp.com and we will process your request within a reasonable time after receipt. However, we are not responsible for, and in some cases we are incapable of, removing your personally identifiable information from the lists of any third party who has previously been provided your information in accordance with this Privacy Policy or your consent.  You should contact such third parties directly. If you would like to update or correct any personally identifiable information that you have provided to us, please email us at optout@tellumapp.com and once we confirm your information, we will update such information within a reasonable amount of time.
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Communications with Tellum:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">By providing your email address to us, you expressly consent to receive emails from us.  We may use email to communicate with you, to send information that you have requested or to send information about other products or services developed or provided by us or our business partners, provided that, we will not give your email address to another party to promote their products or services directly to you without your consent or as set forth in this Privacy Policy.

  Any communication or material you transmit to us by email or otherwise, including any data, questions, comments, suggestions, or the like is, and will be treated as, non-confidential and nonproprietary.  Except to the extent expressly covered by this Privacy Policy, anything you transmit or post may be used by us for any purpose, including but not limited to, reproduction, disclosure, transmission, publication, broadcast and posting. Furthermore, you expressly agree that we are free to use any ideas, concepts, know-how, or techniques contained in any communication you send to us, as well as any data developed using the content of such communication, without compensation and for any purpose whatsoever, including but not limited to, developing, manufacturing and marketing products and services using such information.

</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>No Rights of Third Parties:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">This Privacy Policy does not create rights enforceable by third parties, nor does it require disclosure of any personal information relating to users of the Service.</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Terms of Service:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Use of this Service is governed by, and subject to, the Terms of Service located at <%=link_to "http://www.tellumapp.com/terms-of-service","http://www.tellumapp.com/terms-of-service"%> . This Privacy Policy is incorporated into such terms.  Your use, or access, of the Service constitutes your agreement to be bound by these provisions.  IF YOU DO NOT AGREE TO THESE TERMS AND CONDITIONS YOU MAY NOT ACCESS OR OTHERWISE USE THE SERVICE.
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>United States of America:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">Our servers are maintained in the United States of America.  By using the Service or participating in Tellum services, you freely and specifically give us your consent to export your personally identifiable information to the USA and to store and use it in the USA as specified in this Privacy Policy.  You understand that data stored in the USA may be subject to lawful requests by the courts or law enforcement authorities in the USA.
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Governing Law:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">This Privacy Policy and our legal obligations hereunder are subject to the laws of New York, U.S.A., regardless of your location.  You hereby consent to the exclusive jurisdiction of and venue in the federal and state courts located in New York County, New York, U.S.A. in all disputes arising out of or relating to the Services.
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Contact:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">For questions or concerns relating to privacy, we can be contacted at: privacy@tellumapp.com
</p>
<!---->
<p align="justify"><br>
  <br>
</p>
<p align="justify"><strong>Effective Date:</strong>
</p>
<p align="justify"><br>
  <br>
</p>
<p align="justify">This Privacy Policy was last updated on July 17, 2014.
</p>

</body>
</html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Untitled Document</title>
</head>

<body>
</body>
</html>